* {
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  color: hsl(180, 29%, 50%);
}
main {
  width: 100vw;
  height: 100vh;
  background-color: hsl(180, 52%, 96%);
  overflow: scroll;

  .content {
    margin: 50px 10vw 0 10vw;
  }
}
